<section class="block--secondary access">
  <div class="access__content">
    <h2 class="access__heading">Get early access today</h2>
    <p class="access__text">
      It only takes a minute to sign up and our free starter tier is extremely
      generous. If you have any questions, our support team would be happy to
      help you.
    </p>
    <div class="input-group">
      <input type="email" class="input" placeholder="email@example.com" />
      <button class="btn btn--accent">Get Started For Free</button>
    </div>
  </div>
</section>
