<section class="block block--primary">
  <div class="features grid grid--2x2">
    <article class="feature">
      <svg class="icon icon--large">
        <use href="images/sprite.svg#icon-access-anywhere"></use>
      </svg>
      <h2 class="feature__heading">Access your files, anywhere</h2>
      <p class="feature__text">
        The ability to use a smartphone, tablet, or computer to access your
        account means your files follow you everywhere.
      </p>
    </article>
    <article class="feature">
      <svg class="icon icon--large">
        <use href="images/sprite.svg#icon-security"></use>
      </svg>
      <h2 class="feature__heading">Security you can trust</h2>
      <p class="feature__text">
        2-factor authentication and user-controlled encryption are just a couple
        of the security features we allow to help secure your files.
      </p>
    </article>
    <article class="feature">
      <svg class="icon icon--large">
        <use href="images/sprite.svg#icon-collaboration"></use>
      </svg>
      <h2 class="feature__heading">Real-time collaboration</h2>
      <p class="feature__text">
        Securely share files and folders with friends, family and colleagues for
        live collaboration. No email attachments required.
      </p>
    </article>
    <article class="feature">
      <svg class="icon icon--large">
        <use href="images/sprite.svg#icon-any-file"></use>
      </svg>
      <h2 class="feature__heading">Store any type of file</h2>
      <p class="feature__text">
        Whether you're sharing holidays photos or work documents, Fylo has you
        covered allowing for all file types to be securely stored and shared.
      </p>
    </article>
  </div>
</section>
