<footer class="block block--footer footer">
  <div class="container">
    <svg class="footer__icon">
      <use href="images/sprite.svg#logo"></use>
    </svg>
    <div class="grid grid--1x5">
      <div class="footer__icon-text">
        <svg class="icon--medium">
          <use href="images/sprite.svg#icon-location"></use>
        </svg>
        <p class="footer__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
      </div>
      <div class="footer__email-phone">
        <div class="footer__icon-text">
          <svg class="icon">
            <use href="images/sprite.svg#icon-phone"></use>
          </svg>
          <p class="footer__text">+1-543-123-4567</p>
        </div>
        <div class="footer__icon-text">
          <svg class="icon">
            <use href="images/sprite.svg#icon-email"></use>
          </svg>
          <p class="footer__text">example@fylo.com</p>
        </div>
      </div>
      <ul class="footer__list">
        <li class="footer__list-item"><a href="#">About Us</a></li>
        <li class="footer__list-item"><a href="#">Jobs</a></li>
        <li class="footer__list-item"><a href="#">Press</a></li>
        <li class="footer__list-item"><a href="#">Blog</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__list-item"><a href="#">Contact us</a></li>
        <li class="footer__list-item"><a href="#">Terms</a></li>
        <li class="footer__list-item"><a href="#">Privacy</a></li>
      </ul>
      <div class="footer__social-media">
        <span class="fab icon--small fa-xs fa-facebook-f"></span>
        <span class="fab icon--small fa-xs fa-instagram"></span>
        <span class="fab icon--small fa-xs fa-twitter"></span>
      </div>
    </div>
  </div>
</footer>
