<section class="block block--secondary block--wave">
  <div class="hero">
    <img class="hero__image" src="images/illustration-intro.png" alt="" />
    <header>
      <h1 class="hero__heading">
        All your files in one secure location, accessible anywhere.
      </h1>
      <p class="hero__text">
        Fylo stores all your most important files in one secure location. Access
        them wherever you need, share and collaborate with friends family, and
        co-workers.
      </p>
    </header>
    <button class="btn btn--accent btn--extended">Get Started</button>
  </div>
</section>
