<header class="block block--secondary navbar">
  <nav class="container navbar__elements">
    <a href="#"
      ><svg class="icon navbar__icon">
        <use href="images/sprite.svg#logo"></use>
      </svg>
    </a>
    <ul class="navbar__list">
      <li class="link--underline navbar__list-item">
        <a href="#">Features</a>
      </li>
      <li class="link--underline navbar__list-item"><a href="#">Team</a></li>
      <li class="link--underline navbar__list-item"><a href="#">Sign In</a></li>
    </ul>
  </nav>
</header>
