<section class="block testimonials block--primary">
  <div class="container grid grid--1x3">
    <article class="testimonial testimonial--icon">
      <p class="testimonial__content">
        Fylo has improved our team productivity by an order of magnitude. Since
        making the switch our team has become a well-oiled collaboration
        machine.
      </p>
      <div class="testimonial__profile">
        <img
          class="testimonial__picture"
          src="images/profile-1.jpg"
          alt="Client profile picture"
        />
        <div>
          <h2 class="testimonial__name">Satish Patel</h2>
          <p class="testimonial__position">Founder & CEO, Huddle</p>
        </div>
      </div>
    </article>

    <article class="testimonial">
      <p class="testimonial__content">
        Fylo has improved our team productivity by an order of magnitude. Since
        making the switch our team has become a well-oiled collaboration
        machine.
      </p>
      <div class="testimonial__profile">
        <img
          class="testimonial__picture"
          src="images/profile-2.jpg"
          alt="Client profile picture"
        />
        <div>
          <h2 class="testimonial__name">Bruce McKenzie</h2>
          <p class="testimonial__position">Founder & CEO, Huddle</p>
        </div>
      </div>
    </article>

    <article class="testimonial">
      <p class="testimonial__content">
        Fylo has improved our team productivity by an order of magnitude. Since
        making the switch our team has become a well-oiled collaboration
        machine.
      </p>
      <div class="testimonial__profile">
        <img
          class="testimonial__picture"
          src="images/profile-3.jpg"
          alt="Client profile picture"
        />
        <div>
          <h2 class="testimonial__name">Iva Boyd</h2>
          <p class="testimonial__position">Founder & CEO, Huddle</p>
        </div>
      </div>
    </article>
  </div>
</section>
